
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
      <div class="mdc-top-app-bar__row">
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"> 
          <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
	      <span class="mdc-top-app-bar_title">{{ site.title }}</span>
		</section>
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
		{%- for section in site.data.sections -%}
		<a href="#{{ section.id }}" class="d-item">{% t {{ section.name }} %}</a>
		{%- endfor -%}
		{%- if site.lang == "en" -%}
		  {%- capture link1 -%}{{ site.baseurl_root }}/zh-Hant-TW/index.html{%- endcapture -%}
		  {%- assign lang="中" -%}
		{%- else -%}
		  {%- capture link1 -%}{{ site.baseurl_root }}/index.html{%- endcapture -%}
		  {%- assign lang="En" -%}
		{%- endif -%}
		<a href="{{ link1 }}" class="d-item">{{ lang }}</a>
        </section>
   </header>

