
<div>
{% for section in blurb %}
    <div class="block">
        <div class="section"><span>
            {% if section.url %}<a href="{{ section.url }}"> {% endif %}
            <div class="org_title">{{ section.org }}</div>
            {% if section.url %}</a>{% endif %}
            <div class="org_when">{{ section.when }}</div>
        </span>
       </div>
        <div class="section"><span>
            <div class="role">{{ section.role }}</div>
            <div class="location">{{ section.location }}</div>
        </span></div>
        <div>
        {% if section.bullets %}
            <ul>
                {% for bullet in section.bullets %}
                <li>{{ bullet | markdownify }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endfor %}
</div>
