<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
      {%- include header.html -%}
      <main>
       {{ content }}
      </main>
      {%- include footer.html -%}
      {%- comment -%}
        Due to i18n will translate js path to multiple lange
        we need extract file name and to prepend baseurl_root
      {%- endcomment -%}
      {%- capture jspath -%}
        {%- asset main.js @path -%}
      {%- endcapture -%}
      {%- assign fname=jspath | split:"/" -%}
      {%- assign assets_path=site.baseurl_root | append:"/assets/" -%}
      <script src="{{ fname.last | prepend: assets_path }}" type="text/javascript"></script>
  </body>
</html>
