---
layout: main
---
<section class="content-collection">
  {%- for section in site.data.sections -%}
    <div class="mdc-card" id="{{ section.id }}">
          <h2>{% t {{ section.name }} %}</h2>
          <hr />
            {%- capture section_layout -%}layout/{{section.layout}}.html{%- endcapture -%}
            {%- if site.lang == 'en' -%}
              {%- assign lang_hash = site.data.en -%}
            {%- else if site.lang == 'zh-Hant-TW' -%}
              {%- assign lang_hash = site.data.zh-Hant-TW -%}
            {%- endif -%}
            {%- for hash in lang_hash -%}
              {%- if hash[0] == section.id -%}
                {%- assign blurb = hash[1] -%}
                {%- include {{section_layout}} -%}
              {%- endif -%}
            {%- endfor -%}
    </div>
  {%- endfor -%}
</section>