---
layout: main
---
<section class="content-collection">
  {%- for section in site.data.sections -%}
    <div class="mdc-card mdc-elevation--z4" id="{{ section.id }}" style="margin: 1.5rem 0 1.5rem 0">
          <div class="section_head mdc-typography mdc-typography--headline4">{% t {{ section.name }} %}
          </div>
            {%- capture section_layout -%}layout/{{section.layout}}.html{%- endcapture -%}
            {%- if site.lang == 'en' -%}
              {%- assign lang_hash = site.data.en -%}
            {%- else if site.lang == 'zh-Hant-TW' -%}
              {%- assign lang_hash = site.data.zh-Hant-TW -%}
            {%- endif -%}
            {%- for hash in lang_hash -%}
              {%- if hash[0] == section.id -%}
                {%- assign blurb = hash[1] -%}
                {%- include {{section_layout}} -%}
              {%- endif -%}
            {%- endfor -%}
    </div>
  {%- endfor -%}
</section>